*{
    padding: 0;
    margin:0;

}
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    transition: 1s;

    
}
.navbar-brand:hover{
    color: black;
    
}
.nav-link{
    margin-right: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 10px;
    text-transform: uppercase;
    

}
.nav-link:hover{
    color:black;
}
.search{
    height: 40px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: darkgreen;
    border-radius: 30px;
    text-align: center;
}
.btn0{
    height: 40px;
    width: 60%;
    border-width: 2px;
    border-style: solid;
    border-color: darkgreen;
    color: white;
    border-radius: 38px;
    margin-left: -39px;
    background-color: darkgreen;
    transition: 0.3s;

}
.btn0 :hover{
    background-color: white;
    color: darkgreen;
}
.carousel-item {
    height: 15rem;
    width: 100%;
    align-items: center;

}
.carousel-item img{
    height: inherit;
}
.carousel-item .carousel-caption{
    margin-bottom: 2rem;
    color: whitesmoke;
}
.flawless {
    align-items: center;
    text-align: center;
}
.flawless h3{
    margin-top: 2rem;
    font-weight: lighter;

}
.flawless img{
    height: 60px;
    width: 60px;
    margin: 1rem .5rem;
    cursor: pointer;
}
h1{
    font-weight: 700;
}
.card-body img{
    width: 200px;
    height: 200px;
}
.btn2{
    height: 40px;
    width: 35%;
    border-width: 2px;
    border-style: solid;
    border-color: darkgreen;
    color: white;
    border-radius: 38px;
    margin-left: -39px;
    background-color: darkgreen;
    transition: .2s;

}
.btn2:hover{
    background-color: white;
    color: darkgreen;
}
.card:hover{
    -webkit-box-shadow: -8px 6px 36px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 6px 36px -3px rgba(0,0,0,0.75);
box-shadow: -8px 6px 36px -3px rgba(0,0,0,0.75);
    transition: .3s;
}
